<!-- <div class="container">
    <h3>Parent Component</h3>
    <p>parent works!!</p>

    <button (click)="handleSelection('color')">Color</button>
    <button (click)="handleSelection('animal')">Animal</button>
    
    <p *ngIf="selected">The selected value is {{selected}}</p>

    <app-child [keyValue]="keyMsg" (sendMsg)="hanldeChildMsg($event)"></app-child>
</div>
<app-parent1 [(value)]="val"></app-parent1> 
<button (click)="toggle()">Toggle</button>
<p *ngIf="val">Checkbox is selected!!</p> -->

<h1>Parent Component</h1>
<input type="text" [(ngModel)]="name" />
<input type="text" [(ngModel)]="age" />
<button (click)="toggleChild()">Toggle Child</button>
<button (click)="updateProfile()">Update Profile</button>
@if(showChild){
<app-child [name]="name" [user]="user">
    <h4 #content>This Content is passed from the parent component to child component</h4>
</app-child>
}
