<p>*ngIF directive!</p>
<button (click)="msg(true)">Show</button>
<button (click)="msg(false)">Hide</button>

<p *ngIf="visibility">Message is shown to the user</p>

<hr/>

<p>*ngFor</p>
<p *ngFor="let number of numbers let i=index" [ngClass]="{highlight:selectedNumber===i+1}" [ngStyle]="{'font-size':selectedNumber===i+1?'24px':'16px','font-weight':selectedNumber===i+1?'bold':'normal'}">
    {{i+1}} - {{number}} 
</p>

<hr/>

<p>*ngSwitch</p>
<input type="number" [(ngModel)]="selectedNumber"/>
<div [ngSwitch]="selectedNumber">
    <p *ngSwitchCase="1">The selected number is {{selectedNumber}}</p>
     <p *ngSwitchCase="2">The selected number is {{selectedNumber}}</p>
      <p *ngSwitchCase="3">The selected number is {{selectedNumber}}</p>
       <p *ngSwitchDefault>Select a number between 1-3</p>
</div>
